<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @user.name %></h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Email</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>Is Github Authorized?</th>
          <td>
            <% if @user.is_github_authorized? %>
              <%= icon('github-alt') %> <%= link_to @user.github_username, "https://github.com/#{@user.github_username}" %>
            <% else %>
              No <%= github_authorize_button() %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th colspan='2'><%= link_to 'Edit Information', edit_user_registration_path(@user), class: 'btn btn-primary' %></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>