
<!DOCTYPE html>
<html>
	<head>
		<title>Projects Page</title>
	</head>
	<body>
		<h1 class="text-center">Projects</h1>
    <table class="table table-bordered row">
    	<thead>
    		<tr>
    			<th class="col-md-3">Team</th>
    			<th class="col-md-2">Title</th>
    			<th class="col-md-5 text-nowrap">Description</th>
    			<th class="col-md-1">Deadline</th>
          <th class="col-md-1">Updates</th>
    		</tr>
    	</thead>
    	<tbody  class="table-list">
    		<% @projects.each do |project| %>
    		  <tr>
    			  <td class="col-md-3"><%= project.team %></td>
    			  <td class="col-md-2"><%= project.title %></td>
    			  <td class="col-md-5"><%= project.description %></td>
    			  <td class="col-md-1"><%= project.deadline %></td>
    			  <td class="col-md-1 text-center"><%= link_to 'Project', project_path(project), class: "btn btn-default" %></td>
    		  </tr>
    	  <% end %>
    	</tbody>
    </table>
    <%= link_to 'New Project', new_project_path, class: "btn btn-default" %>
	</body>
</html>
