<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container page-top">
    <%= image_tag "DPL-beaker.png", class: "navbar-brand logo" %>
    <%= link_to "DPL Project Manager", root_path, class: "navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path, class: "nav-text" %></li>
        <li>
           <% if user_signed_in? %> 
              <li><%= link_to "Projects", projects_path, class: "nav-text" %></li>
              <li><%= link_to "About", about_path, class: "nav-text" %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle nav-text" data-toggle="dropdown" role="button" aria-expanded="false">The Team <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <% User.all.each do |user| %>
                    <li>
                      <%= link_to user_path(user) do %>
                        <%= icon('github') if user.is_github_authorized? %> <%= user.name %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </li>
              <li><%= link_to 'Edit profile', edit_user_registration_path, class: 'nav-text' %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-text'  %></li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path, class: 'nav-text'  %></li>
              <li><%= link_to "Login", new_user_session_path, class: 'nav-text'  %></li>
            <% end %>
        </li>
        
      </ul>
    </nav>
    <% if user_signed_in? %>
      <div class='pull-right' >Logged in as <strong><%= current_user.name %></strong>.</div>
    <% end %>
  </div>
</header>
